.navIcon{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
}

.footer1 {
    position:relative;
    bottom: 5px;;
    right: 5px;
    left: 5px;
    padding: auto;  
}
.footer2 {
   margin: auto;
}
.cs {
    margin:5px 5px 5px 5px;
}
.cs1 {
    margin:10px 0px 10px 0px;
}
.cs2 {
    margin:0px 3px 5px 0px;
}
.cs3 {
    margin:0px 0px 15px 0px;
}
.card{
    border-radius: 20px;
}
.effect_card{ 
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);         
    cursor: grab;
    
}
.effect_card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.btn_text1{
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: rgb(255, 255, 255);    
}
.btn_modal1{
    position: relative;
    color:black;
    padding: 0;
    margin: auto; 
    font-size: 22px;
}
.btn_user{
    position: relative;
    color:black;
    padding: 0;
    margin: auto;
}
.round_bt_Icon{
    height : 30px;
    width : 30px;
    margin-left: 10px;
}
.tooltip_search{
    border: 1px solid green;
    padding:5px 15px;
    border-radius: 15px;
    background-color: lavender;   
}
.btn_modal2{
    position: relative;
    padding: 10px;
    margin: auto; 
    font-size: 22px;
}

/* SLIDER */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
/* INPUT GUEST */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

