<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
        <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='asset/css/style1.css')}}">
        <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='asset/loginFormAsset/css/style.css')}}">
        <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='asset/loginFormAsset/css/animate-custom.css')}}">

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>        
        <script type="text/javascript" src="https://kit.fontawesome.com/de2bd07a60.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='asset/js/jquery.maskMoney.min.js')}}"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">HOTEL</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>  

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active navIcon">
                    <a class="nav-link" href="/welcome_view"><i class="fa fa-home" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About US</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <div class="dropdown-divider"></div>              
                    </div>                
                </li>            
            </ul>


            <div class="col d-flex justify-content-end">
                <div class="menu-media">
                    <p class="mb-0 d-flex mrIconNav">                
                        <a class="nav-link btn_modal1" data-toggle="modal" data-target="#formModalRecomendasi" href="/">
                            <i class="fa fa-search" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Klik disini ya, untuk mendapatkan rekomendasi hotel sesuai kebutuhan anda."></i></a>
                        <a href="#">
                            <img src="{{url_for('static', filename='asset/image/UnknowUser.jpg')}}" class="rounded-circle round_bt_Icon btn_user" alt="" loading="lazy"/>
                        </a>                
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <header> 
        <div class="cs1 col-md-12 col-sm-12">   
            <div id="carousel" class="cs carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{url_for('static', filename='asset/image/image1.jpg')}}" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{url_for('static', filename='asset/image/image2.jpg')}}" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{url_for('static', filename='asset/image/image3.jpg')}}" alt="">
                    </div>
                </div>
            </div>
            
            <!-- -------------------------------------Modal---------------------------------------- -->
            <div id="formModalRecomendasi" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Cari hotel sesuai kebutuhan anda</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>                    
                        </div>
                        <div class="modal-body btn_modal2">
                            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#formModalRecomendasi_1" data-dismiss="modal">Mulai mencari</button>                
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------End-Modal---------------------------------------- -->

            <!-- --------------------------------------Modal_1----------------------------------------- -->
            <div id="formModalRecomendasi_1" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <!-- Modal content-->
                    <!-- action="HomeController/result" -->
                    <div class="modal-content">   
                        <!-- FORM  -->
                        <form method="POST" action="/result">
                            <div class="modal-body">                
                                <div class="form-group">
                                    <label for="FormControlSelectCity">Kota tujuan:</label>
                                    <select class="form-control" id="selectCity" name="userinput_kota">
                                        <option value="JakartaBarat">Jakarta Barat</option>
                                        <option value="JakartaTimur">Jakarta Timur</option>
                                        <option value="JakartaUtara">Jakarta Utara</option>
                                        <option value="JakartaSelatan">Jakarta Selatan</option>
                                        <option value="JakartaPusat">Jakarta Pusat</option>
                                    </select>                        
                                </div> 
                                <hr>
                                <div class="slidecontainer">
                                    <label>Bintang hotel:  <span id="rate"></span></label>                            
                                    <input type="range" min="1" max="5" value="1" class="slider" id="minimal_input_bintang" name="minimal_input_bintang">                                
                                </div>
                                <hr>
                                <div class="slidecontainer">
                                    <label>Harga terendah:  <span id="min_Price"></span></label>                            
                                    <input type="text" id="userinput_hrg_murah" name="userinput_hrg_murah">                                
                                </div>
                                <div class="slidecontainer">
                                    <label>Harga tertinggi:  <span id="max_Price"></span></label>                            
                                    <input type="text" id="userinput_hrg_mahal" name="userinput_hrg_mahal">                                
                                </div>
                                <hr>
                            </div>
                            <div class="modal-footer">
                                <button id="button" type="submit" class="btn btn-default">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>       

                        </form>
                        <!-- END FORM -->
                    </div>
                </div>
            </div>        
    </header>
</html>